<div class="app">
  <header class="nav">
    <img class="logo" src="images/logo.svg">
    <div class="nav-items">
      <a>Home</a>
      <a>Gallery</a>
      <a>Services</a>
      <a>Contact</a>
    </div>
  </header>
  <content class="content">
    <div class="splash-image">
      <h1>One shop stop welding Neebs</h1>
    </div>

    <div class="about">
      <h2 class="splash-title">KW Weld is your first stop for repairs of all your metal items, and manufacturing of small parts. </h2>
      <p class="about-text">
        KW Weld is your first stop for repairs of all your metal items, and manufacturing of small parts.
      </p>
      <p>
        Specializing in small projects and giving broken parts a second life; With a Welding Engineering Technology degree from SAIT, you can be sure that you are getting the right weld done right.      </p>
    </div>

    <div class="gallery">
      <img class="gallery-item" src="/images/gallery1.jpg" />
      <img class="gallery-item" src="/images/gallery2.jpg" />
      <img class="gallery-item" src="/images/gallery3.jpg" />
      <img class="gallery-item" src="/images/gallery3.jpg" />
    </div>
  </content>
  <footer></footer>
</div>

<router-outlet />
