<div class="app">
  <header class="nav">
    <h2 class="nav-logo">Logo</h2>
    <div class="nav-items">
      <a>Home</a>
      <a>Gallery</a>
      <a>Services</a>
      <a>Contact</a>
    </div>
  </header>
  <content class="content">
    <div class="splash-image">
      <h1 class="splash-title">Change How You Build</h1>
    </div>

    <div class="about">
      <h1 class="about-title">A One Man Army</h1>
      <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim massa, tristique id maximus sit amet, tristique consequat diam. Vivamus luctus posuere diam, nec finibus nisl facilisis et. Cras bibendum sem tortor, eu fringilla nisl malesuada non. Maecenas ornare nunc diam, sit amet suscipit elit porta et. Nulla nisi felis, euismod vel egestas sed, porttitor vitae tortor. Sed vitae interdum est. Ut massa mi, mollis ac leo a, euismod vehicula augue. Morbi laoreet auctor urna. Donec consequat sapien a dapibus lobortis.
      </p>
    </div>

    <div class="gallery">
      <img class="gallery-item" src="/images/gallery1.jpg" />
      <img class="gallery-item" src="/images/gallery2.jpg" />
      <img class="gallery-item" src="/images/gallery3.jpg" />
    </div>
  </content>
  <footer></footer>
</div>

<router-outlet />
